.cart {
	margin-top: 100px;
	overflow: hidden;
	height: 100vh;
    padding: 0 100px;
}

.cart-items-title {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
	align-items: center;
	color: black;
	font-size: max(1vw, 15px);
    font-weight: bold;
}

.cart-items-item {
	margin: 10px 0px;
	color: black;
}

.cart-items-item img {
	width: 50px;
}

.cart hr {
	height: 1px;
	background-color: orangered;
	border: none;
}

.cart-items-item .remove_cross {
	cursor: pointer;
}

.cart-bottom {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	gap: 20px; /* Adjusted gap */
}

.cart-total,
.cart-promo {
	flex-basis: 45%; /* Allow these elements to take up around half the container each */
	max-width: 45%;
}

.cart-total {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cart-total-details {
	display: flex;
	justify-content: space-between;
	color: #555;
}

.cart-total hr {
	margin: 10px 0px;
}

.cart-total button {
	border: none;
	color: white;
	background-color: tomato;
	width: max(15vw, 200px);
	padding: 12px 0px;
	border-radius: 4px;
	cursor: pointer;
}

.cart-promo p {
	color: #555;
}

.cart-promo-input {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: aliceblue;
	border-radius: 4px;
}

.cart-promo-input input {
	background: transparent;
	border: none;
	outline: none;
	padding-left: 10px;
}

.cart-promo-input button {
	width: max(10vw, 150px);
	padding: 12px 5px; /* Adjusted padding */
	background-color: black;
	border: none;
	color: white;
	border-radius: 4px;
}

@media (max-width: 750px) {
	.cart-bottom {
		flex-direction: column-reverse;
	}

	.cart-total,
	.cart-promo {
		max-width: 100%; /* Allow full width on smaller screens */
	}

	.cart-promo {
		justify-content: start;
	}
}
