.display-foods {
    margin-top: 30px;
    padding: 0 10px; /* General padding */
}

.display-foods h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    text-align: center; /* Center the heading */
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Ensure 5 cards per row */
    gap: 50px; /* Increased gap between items */
    row-gap: 70px; /* Increased row gap */
    margin-bottom: 50px; /* Added margin-bottom to prevent overflow into footer */
    padding: 0 10%; /* Add padding to center the items */
    justify-items: center; /* Center items in the grid */
}